.btn {
  border-radius: 6px;
  background-color: rgb(217, 54, 68);
  color: rgb(255, 255, 255);
}


.btn:hover {
  box-shadow: 0 0 10px #1b58b4,
                0 0 40px #1b58b4,
                0 0 80px #1b58b4;
    background-color: rgb(13, 13, 13);
    color:rgb(240, 246, 252);
}

.deleteBtn {
  float: right;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  border-style: solid;
  background-color: rgb(218, 47, 38);
  color: rgb(255, 255, 255);
}

.deleteBtn:hover {
  box-shadow: 0 0 10px #1b58b4,
                0 0 40px #1b58b4,
                0 0 80px #1b58b4;
    background-color: rgb(13, 13, 13);
    color:rgb(240, 246, 252);
}

.editBtn {
  float: right;
  margin-top: -38px;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  border-color: #1f6feb;
  border-style: solid;
  background-color: #1f6feb;
  color: rgb(255, 255, 255);
}

.editBtn:hover {
  box-shadow: 0 0 10px #1b58b4,
                0 0 40px #1b58b4,
                0 0 80px #1b58b4;
    background-color: rgb(13, 13, 13);
    color:rgb(240, 246, 252);
}

.feedReactBtn {
  padding: 5px;
  background-color: rgb(217, 54, 68);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
}

.feedReactBtn:hover {
  box-shadow: 0 0 10px #1b58b4,
                0 0 40px #1b58b4,
                0 0 80px #1b58b4;
    background-color: rgb(13, 13, 13);
    color:rgb(240, 246, 252);
}

.follow-button {
  text-align: center;
}

.editButton{
  text-align: center;
}



.reactbtn{
  margin-top:20px;
  text-align: center;
}

.btn-comment{
  border-radius: 6px;
  background-color: rgb(217, 54, 68);
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  padding: 6px;
}

.btn-comment:hover{
  box-shadow: 0 0 10px #1b58b4,
  0 0 40px #1b58b4,
  0 0 80px #1b58b4;
background-color: rgb(13, 13, 13);
color:rgb(240, 246, 252);
}

.btn-save-changes{
  border-radius: 6px;
  background-color: rgb(217, 54, 68);
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  padding: 6px;
}

.btn-save-changes:hover{
  box-shadow: 0 0 10px #1b58b4,
  0 0 40px #1b58b4,
  0 0 80px #1b58b4;
background-color: rgb(13, 13, 13);
color:rgb(240, 246, 252);
}



.btn-create{
  border-radius: 6px;
  background-color: rgb(217, 54, 68);
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  padding: 6px;
}

.btn-create:hover{
  box-shadow: 0 0 10px #1b58b4,
  0 0 40px #1b58b4,
  0 0 80px #1b58b4;
background-color: rgb(13, 13, 13);
color:rgb(240, 246, 252);
}



.follow-button{
  border-radius: 6px;
  background-color: rgb(217, 54, 68);
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  padding: 6px;
}

.follow-button:hover{
  box-shadow: 0 0 10px #1b58b4,
  0 0 40px #1b58b4,
  0 0 80px #1b58b4;
background-color: rgb(13, 13, 13);
color:rgb(240, 246, 252);
}



.btn-edit{
  border-radius: 6px;
  background-color: rgb(217, 54, 68);
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  padding: 6px;
}

.btn-edit:hover{
  box-shadow: 0 0 10px #1b58b4,
  0 0 40px #1b58b4,
  0 0 80px #1b58b4;
background-color: rgb(13, 13, 13);
color:rgb(240, 246, 252);
}