.item1{
  margin-top: 10px;
}

.img-fluid.rounded-circle1{
margin-bottom: 20px;
}

.UserInfo{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 14px;
  justify-content: space-between;
  align-items: stretch;
  margin: 25px;
}